.btn{
    position: relative;
  }
  .btn-new{
        background: #0d6efd;
        color: #ffffff;
        float:right;
        left: 0;
        bottom: 50px;
        width: 110px;
        border-radius: 5px;
        margin-left: 5px;
    }
    
    
    .pagination{
        align-items: center;
        display: flex;
        justify-content: center;
    }
/* .container li{
    list-style-type: none;
}
.container a{
    text-decoration: none;
    color: black;
} */
.main_left ul li {
    padding-left: 10px;
}
.main_left ul {
    padding-top: 20px;
}
.side-bar li {
    list-style-type: none; 
   
}
.side-bar a{
    text-decoration: none;
    color: black;
}
.side-bar{
    padding-left: 20px;
}